<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>826862580232-65ohdh0hu7pruv948735p7jn91m92d3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826862580232-65ohdh0hu7pruv948735p7jn91m92d3m</string>
	<key>API_KEY</key>
	<string>AIzaSyAgZ_6f0xB7Nr2dWXz_hBtWFdfhV1kNutw</string>
	<key>GCM_SENDER_ID</key>
	<string>826862580232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sammanstutorialapp.tutorialChatApp</string>
	<key>PROJECT_ID</key>
	<string>sammans-tutorial-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sammans-tutorial-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826862580232:ios:7c316124c9ab0dad</string>
	<key>DATABASE_URL</key>
	<string>https://sammans-tutorial-chat-app.firebaseio.com</string>
</dict>
</plist>